@model List<xysim_moviedb.Models.Movie>

@{
    ViewData["Title"] = "Top Movies";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to display top rated movies.</p>



    <h5>Movies:</h5>
    <div>
        <div>
            @foreach(var movie in Model)
            {
                <div>
                    <h5>
                        @Html.DisplayFor(modelItem => movie.title)
                    </h5>
                    <img src="@String.Format("https://image.tmdb.org/t/p/w500{0}", movie.poster_path)" alt="@(movie.title)">
                </div>
            }


        </div>
    </div>
